.background{
    background: #F5F5F5;
    display: flex;
    padding: 40px 70px;
    justify-content: center;
}
h1{
    font-weight: bold;
    font-size: xx-large;
    line-height: 1;
    letter-spacing: 1.5px;
}
h2{
    font-size: large;
    color: rgb(28, 28, 28);
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 40px;
}
.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
.contentAbility {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, auto);
    gap: 30px;
}
.itemAbility{
    background-color: white;
    padding: 25px;
    border-radius: 50px;
    box-shadow: 3px 1px 3px 2px rgba(0, 0, 0, 0.1);
    width: 85%;
}
/*Porcentaje*/
.skill-header{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;

}
.skill-bar{
    height: 12px;
    width: 100%;
    overflow: hidden;
    background: #c0c0c0;
    border-radius: 50px;
}
.skill-progress{
    height: 100%;
    border-radius: 50px;
    background: linear-gradient(90deg, #FF00FB, #8A38F5);
}
.styleLoading {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: x-large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    z-index: 2000;
}