@media screen and (max-width: 769px) {
    .content{
        text-align: center;
    }
    .contentAbility{
        grid-template-columns: repeat(1, 1fr);
        grid-template-columns: repeat(1, auto);
        gap: 10px;
    }
    .background{
        padding: 20px 10px;
    }
    .itemAbility{
        width: 90%;
        padding: 10px 10px 35px 10px;
        margin: 0 auto 0 auto;
        border-radius: 15px;
    }
}