.ability-container{
    width: 100%;
    height: auto;
}
.title-content {
    margin: 15px;
    padding: 15px;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.384);
}
.title-content h1 {
    color: black;
    font-size: 40px;
}
.ability-description p {
    font-size: 18px;
}
.line-content{
    border-bottom: 2px solid black;
    margin: 10px 0;
}
.ability-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lenguajeOfProgramacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.infoContent {
    background-color: white;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.384);
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;
}
.infoContent img{
    width: 28%;
    height: auto;
}
.gap-lenguaje{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.infoText{
    padding: 15px;
}

@media screen and (max-width: 768px) {
    .infoContent {
        flex-direction: column;
    }
    .infoContent img{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 480px) {
    .infoContent {
        flex-direction: column;
    }
    .infoContent img{
        width: 100%;
        height: auto;
    }
}