.infoContent h2 {
  letter-spacing: 2px;
  font-size: 30px;
  text-align: center;
}
.infoContent {
  letter-spacing: 2px;
  padding: 3rem 0;
}
.info-items{
  display: flex;
  margin: 3rem;
}
.info-item {
  padding: 2rem;
  border-radius: 15px;
  margin: 1rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.342);
}
.info-icon{
  background: linear-gradient(90deg, #FF00FB, #8A38F5);
  border-radius: 10px;
  width: 50px;
  height: auto;
  padding: .5rem .9rem;
}
.info-icon img{
  filter: brightness(0) invert(1);
}
.info-text h3{
  color: black;
  font-size: large;
}
.info-text p{
  color: rgb(86, 86, 86);
}
/*TABLE*/
@media screen and (max-width: 912px) {
  .infoContent{
    display: flex;
    font-size: x-large;
    flex-direction: column;
  }
  .infoContent h2{
    font-size: 40px;
  }
  .info-items{
    font-size: x-large;
    flex-direction: column;
    margin: 0;
  }
}

/*MOVIL*/

@media screen and (max-width: 768px) {
  .infoContent{
    display: flex;
    flex-direction: column;
  }
  .infoContent h2{
    font-size: 30px;
  }
  .info-items{
    font-size: large;
    flex-direction: column;
    margin: 0;
  }
}