/*Desktop*/

.flex-text {
  font-size: 90px;
  font-weight: bold;
}
.flex-text .tituloPrincipal{
  gap: 2rem;
  display: flex;
}
.flex-text p{
  margin: 0;
  padding: 5rem 0 0;
}
.flex-text .textGradient {
  background: linear-gradient(90deg, #FF00FB, #8A38F5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.description{
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}
.backgroundBody{
  background-color: #F5F5F5;
  width: 100%;
  height: auto;
}
.infoContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*boton estilos*/
.btn {
  margin-top: 25px;
  padding-bottom: 80px;
}
.btn button{
  padding: 1rem 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: large;
}
.verProyecto {
  overflow: hidden;
  position: relative;
  background-color: black;
  border: transparent;
  color: white;
  transition: color 0.3s ease;
}
.verProyecto::before {
  position: absolute;
  inset: 0;
  content: '';
  opacity: 0;
  transition: opacity 0.3s ease;
  background: linear-gradient(180deg, #FF00FB, #8A38F5);
  z-index: 0;
}
.verProyecto:hover::before {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.verProyecto > span {
  position: relative;
  z-index: 1;
}
.contacto {
  background: white;
  color: black;
  border: solid 2px black;
  font-weight: bold;
}

/*Table*/
@media screen and (max-width: 912px) {
  .flex-text .tituloPrincipal{
      margin: 40px 0px;
      font-size: 90px;
      text-align: center;
      gap: 0rem;
      display: flex;
      flex-direction: column;
    }
    .textGradient {
      font-size: 90px;
    }
    .flex-text p{
      margin: 0;
      padding: 0;
    }
    .description{
      font-size: 18px;
      margin-bottom: 30px;
    }
    .btn {
      gap: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .btn button{
      padding: 1.2rem 3.2rem;
    }
}

/*MOVIL*/

@media screen and (max-width: 768px) {
    .flex-text .tituloPrincipal{
      margin: 40px 0px;
      font-size: 50px;
      text-align: center;
      gap: 0rem;
      display: flex;
      flex-direction: column;
    }
    .textGradient {
      font-size: 60px;
    }
    .flex-text p{
      margin: 0;
      padding: 0;
    }
    .description{
      font-size: 18px;
      margin-bottom: 30px;
    }
    .btn {
      gap: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .btn button{
      padding: 1.2rem 3.2rem;
    }
}