.plastaNegra{
  background: #000;
  margin: 0;
  padding: 0;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: auto;
  perspective: 1000px;
}
.flip-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 155px;
  padding-bottom: 155px;
  transition: .5s;
  transform-style: preserve-3d;
}
.flip-card.flipped {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}
.flip-card-back {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: medium solid rgb(0, 0, 0);
  width: 60vh;
  height: 30vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.flip-card-front{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: medium solid white;
  background-color: rgb(0, 0, 0);
  transition: .3s ease-in;
  width: 60vh;
  height: 30vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.flip-card-front p{
    padding-left: 45px;
    padding-right: 45px;
    margin: 5px;
    margin-top: 15px;
}
.flip-card-front:hover{
  box-shadow: 0 5px 10px rgb(22, 22, 22);
}
.boxUnique1{
  border-radius: 50px 10px 100px 10px;
  transition: .3s ease-in;
}
.boxUnique2{
  border-radius: 30px 10px 50px 10px;
  transition: .3s ease-in;
}
.boxUnique3{
  border-radius: 10px 50px 80px 45px;
  transition: .3s ease-in;
}
#boxUnique1:hover{
  border-radius: 10px 10px 10px 10px;
}
#boxUnique2:hover{
  border-radius: 10px 10px 10px 10px;
}
#boxUnique3:hover{
  border-radius: 10px 10px 10px 10px;
}
.title{
    font-size: x-large;
}

/* TABLETA */

/* MOVIL */

@media screen and (max-width: 768px) {
    .plastaNegra{
        display: flex;
        flex-direction: column;
        padding: 35px;
    }
    .flip-card{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .flip-card-front{
        width: 35vh;
        height: 30vh;
    }
    .title{
        font-size:large;
    }
}
@media screen and (max-width: 458px) {
    .flip-card-front p{
        padding-left: 45px;
        padding-right: 45px;
        margin: 5px;
        margin-top: 15px;
        font-size: large;
    }
    .flip-card {
      margin-top: 290px;
    }
    .plastaNegra {
      height: 130vh;
    }
    .flip-card-front, .flip-card-back {
      width: 30vh;
      padding: 10px;
      font-size: large;
    }
}
@media screen and (max-width: 380px) {
    .flip-card {
      margin-top: 240px;
    }
    .plastaNegra {
      height: 140vh;
    }
    .flip-card-front, .flip-card-back {
      width: 45vh;
      font-size: large;
    }
}
@media screen and (max-width: 360px) {
    .flip-card {
      margin-top: 255px;
    }
    .plastaNegra {
      height: 140vh;
    }
    .flip-card-front, .flip-card-back {
      width: 30vh;
      font-size: large;
      padding: 20px;
    }
}
