/*footer padre*/
.contentFooterContact{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
}
/*estilos informacion items*/
.contentFooterItems {
    padding: 60px 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
/*item de nombre DevPortafolio-hugo*/
.itemFooter h1{
    letter-spacing: 1px;
    background: linear-gradient(90deg, #FF00FB, #8A38F5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.itemFooter p{
    letter-spacing: 2px;
    color: rgb(86, 86, 86);
    line-height: 50px;
    line-height: 1.3;
}
/*item de nombre Enlaces rapidos*/
.itemLinks ul{
    list-style: none;
}
.itemLinks ul li{
    margin-top: 15px;
}
.itemLinks ul li{
    letter-spacing: 2px;
}
.itemLinks ul a li{
    color: black;
}
/*estilos de contacto item enlace*/
.itemImgItem {
    display: flex;
    gap: 35px;
    color: rgb(86, 86, 86);
}
.itemImgItem img{
    height: 30px;
    cursor: pointer;
    transition: all 0.2s ease;
    animation: moves 0.3s forwards;
    filter: grayscale(1) brightness(1);
}
.itemImgItem img:hover {
    animation: move 0.3s forwards;
  filter: brightness(50%) saturate(40%) invert(46%) sepia(100%) saturate(500%) hue-rotate(280deg);
}
@keyframes move {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
}
@keyframes moves {
    0% { transform: scale(1); }
    50% { transform: scale(0.93); }
    100% { transform: scale(1); }
}
/*estilos de licencia*/
.centerLicense {
    color: rgb(168, 168, 168);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0px;
    margin: 0px;
    border-top: rgba(167, 167, 167, 0.359) 2px solid;
}

/*table*/
@media screen and (max-width: 912px) {
    .contentFooterItems{
        font-size: x-larger;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 25px;
    }
    .itemFooter{
        margin: 0 10px;
    }
    .itemFooter p{
        margin: 0;
        padding: 0;
        word-spacing: 0;
        letter-spacing: 3px;
        line-height: 1.5;
        padding: 0px 10px;
    }
    .itemImg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .itemLinks {
        width: 90%;
    }
    .itemLinks ul{
        display: flex;
        justify-content: center;
        gap: 20px;
        margin: 0;
        padding: 0;
    }
    .itemLinks ul li {
        margin: 0;
        padding: 0;
    }
}

/*MOVIL*/
@media screen and (max-width: 768px) {
    .contentFooterItems{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 25px;
    }
    .itemFooter{
        margin: 0 10px;
    }
    .itemFooter p{
        margin: 0;
        padding: 0;
        word-spacing: 0;
        letter-spacing: 3px;
        line-height: 1.5;
        padding: 0px 10px;
    }
    .itemImg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .itemLinks {
        width: 90%;
    }
    .itemLinks ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        margin: 0;
        padding: 0;
    }
    .itemLinks ul li {
        margin: 0;
        padding: 0;
    }
}