.header-content{
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.512);
}
.logoDev{
    margin-left: 3rem;
}
.headersNavigation{
    margin-right: 3rem;
}
.logoDev h1{
    font-size: 24px;
}
.headersNavigation nav ul{
    list-style: none;
    display: flex;
    gap: 5rem;
}
.headersNavigation nav ul li a{
    text-decoration: none;
    color: black;
}
.headersNavigation nav ul li.active a{
    background: linear-gradient(90deg, #FF00FB, #8A38F5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*aside movil*/
@media (max-width: 768px) {
    .headersNavigation {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        max-width: 300px;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.438);
        z-index: 1000;
        bottom: 0;
        right: -100%;
        top: 0;
        transition: all 0.5s ease;
        
    }
    .headersNavigation.open {
        right: -12%;
    }
    .headersNavigation nav ul{
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    .headersNavigation nav ul li{
        font-size: x-large;
        text-align: center;
    }
}
/*side desktop*/
@media (min-width: 769px) {
    .headersNavigation{
        position: static;
    }
}
/*icon menu*/
.menu-toggle{
    display: none;
    position: relative;
    width: 30px;
    height: 46px;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    z-index: 1200;
    cursor: pointer;
}
.menu-toggle span {
    position: absolute;
    background: black;
    width: 100%;
    height: 3px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 3px;
    transition: transform 0.28s ease, width 0.2s ease;
}
.menu-toggle span:nth-child(1) { top: 6px; }
.menu-toggle span:nth-child(2) { top: 12.5px; }
.menu-toggle span:nth-child(3) { top: 19px; }

/*animacion de icon estando abierto*/

.menu-toggle span.open:nth-child(1) {
    transform: translateY(6.5px) rotate(45deg);
}

.menu-toggle span.open:nth-child(2) {
    width: 10%;
}

.menu-toggle span.open:nth-child(3) {
    transform: translateY(-6.5px) rotate(-45deg);
}

/*aside - menu lateral*/


/*MOVIL*/

@media (max-width: 768px) {
    .menu-toggle{
        display: flex;
        margin-right: 40px;
        margin-top: 10px;
    }
}